

<template>
  <div id="app">
      <Nav/>
      <Header/>
      <DerniereMinute/>
      <LocationDeVacance/>
      <SuivezLeGuide/>
      <NouvelleLocation/>
      <LimmobilierByGiteDeFrance/>
      <Footer/>
  </div>
</template>


<script>
import Nav from './components/Nav'
import Header from './components/Header'
import DerniereMinute from './components/DerniereMinute'
import LocationDeVacance from './components/LocationDeVacance'
import SuivezLeGuide from './components/SuivezLeGuide'
import NouvelleLocation from './components/NouvelleLocation'
import LimmobilierByGiteDeFrance from './components/LimmobilierByGiteDeFrance'
import Footer from './components/Footer'

export default {
  name: 'App',
  components: {
   Nav, Header, DerniereMinute, LocationDeVacance, SuivezLeGuide, NouvelleLocation, LimmobilierByGiteDeFrance, Footer,
  }
}


</script>

<style>


</style>
